/*to make images smaller*/
.small {
	width: 150px;
	height: 150px;
}
#gifs-group {
	width: 100%;
	position: relative;
}
.gif {
	padding: 50px;
}
.btn:not(#submit-button) {
	margin-left: 10px;
	margin-bottom: 10px;	
}